html {
  box-sizing: border-box;
}

:root {
  --accent-1: #00868a;
  --accent-2: #4fbfa5;
  --white: #fff;
  --font-family: "Arial", sans-serif;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body,
h1,
h4 {
  margin: 0;
  padding: 0;
}

.container_1920 {
  max-width: 1920px;
  border: 1px solid #000;
  background: #fff;
}

.offers {
  max-width: 1296px;
  width: 100%;
  margin: 162px auto 0;
}

.text__h1 {
  font: 700 48px / 1.5 "Arial", sans-serif;
  text-align: center;
  color: #00868a;
  margin-bottom: 60px;
}

.offers__grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}

.offers__item {
  display: flex;
  flex-direction: column;
  width: 306px;
  height: 344px;
  background-color: var(--accent-1);
}

.offers__item:last-child {
  margin-bottom: 160px;
}

.img {
  width: 306px;
}

.sticker {
  transform: translate(29px, -203px);
  font: 700 18px "Arial", sans-serif;
  text-align: center;
  align-content: center;
  background: var(--accent-2);
  color: var(--white);
  width: 156px;
  text-decoration: none;
  transition: 0.5s ease;
  padding: 10px 15px;
}

.sticker:hover {
  background-color: var(--accent-1);
  transition: 0.5s ease;
}

.bgc {
  transform: translateY(-24px);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text__h4 {
  font: 700 20px / 1.5 "Arial", sans-serif;
  color: #fff;
  width: 181px;
  align-self: center;
  padding-left: 30px;
}

.frame {
  margin-right: 30px;
  margin-top: 8px;
  transition: 0.5s ease;
}

.frame:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (max-width: 1440px) {
  .offers__grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 780px) {
  .offers__grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .text__h1 {
    margin: 0 15px 60px;
  }
}

@media screen and (max-width: 460px) {
  .text__h1 {
    font-size: 33px;
    word-wrap: break-word;
    max-width: 298px;
    margin: 0 auto 60px;
  }

  .offers {
    margin-top: 80px;
  }

  .offers__item:last-child {
    margin-bottom: 80px;
  }

  .offers__item {
    display: flex;
    flex-direction: column;
  }

}